force-app/main/default/flows/VMT_MIETZAHLUNG_MietzahlungReminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail_ACTION</name>
        <label>SendEmail</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LoopSelectedMietzahlungen_LOOP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideEmail_GET.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Mietzahlung Erinnerung</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>LoopSelectedMietzahlungen_LOOP.Mieter__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AddRecipient_ASSIGNMENT</name>
        <label>Add Recipient</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSelectedMietzahlungen_LOOP.Mieter__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSelectedMietzahlungen_LOOP.Mieter__r.KontaktpersonEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail_ACTION</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <expression>&apos;Hallo &apos; + {!MieterName} + &apos;, ich habe gerade festgestellt, dass die Miete für den aktuellen Monat noch fehlt. Bitte checken Sie das kurzfristig.&apos;

+ &apos; Holm Bassler&apos;</expression>
    </formulas>
    <formulas>
        <name>MieterName</name>
        <dataType>String</dataType>
        <expression>text({!LoopSelectedMietzahlungen_LOOP.Mieter__r.Anrede__c})  + &apos; &apos; +{!LoopSelectedMietzahlungen_LOOP.Mieter__r.Nachname__c}</expression>
    </formulas>
    <interviewLabel>Mietzahlung Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMT_MIETZAHLUNG_Mietzahlung Reminder</label>
    <loops>
        <name>LoopSelectedMietzahlungen_LOOP</name>
        <label>Loop Selected Mietzahlungen</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>MietzahlungTable_DATATABLE.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddRecipient_ASSIGNMENT</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OrgWideEmail_GET</name>
        <label>Get OrgWideEmail</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopSelectedMietzahlungen_LOOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetObjektRecord_GET.FirmaName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMietzahlungsRecords_GET</name>
        <label>Get Mietzahlungs Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectMietzahlungen_SCREEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Objekt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Differenz__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mietzahlung__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Differenz__c</queriedFields>
        <queriedFields>Mieter__c</queriedFields>
        <queriedFields>SollGesamtmiete__c</queriedFields>
        <queriedFields>InsgesamtBezahlt__c</queriedFields>
        <queriedFields>Objekt__c</queriedFields>
        <queriedFields>Mietername__c</queriedFields>
        <queriedFields>Wohnung__c</queriedFields>
        <queriedFields>Bemerkungen__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetObjektRecord_GET</name>
        <label>Get Objekt Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMietzahlungsRecords_GET</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Objekt__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirmaName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_SCREEN</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Abbrechen</backButtonLabel>
        <connector>
            <targetReference>GetObjektRecord_GET</targetReference>
        </connector>
        <fields>
            <name>Confirmation_DISPLAYTEXT</name>
            <fieldText>&lt;p&gt;Mietzahlungserinnerung senden?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Durchführen</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectMietzahlungen_SCREEN</name>
        <label>Select Mietzahlungen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Abbrechen</backButtonLabel>
        <connector>
            <targetReference>Get_OrgWideEmail_GET</targetReference>
        </connector>
        <fields>
            <name>SelectMietzahlungen_DISPLAY</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Bitte Mieter wählen, denen Zahlungserinnerung per E-Mail geschickt werden soll.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MietzahlungTable_DATATABLE</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Mietzahlung__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mietzahlung Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetMietzahlungsRecords_GET</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Mietername__c&quot;,&quot;guid&quot;:&quot;column-3c16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Mietername&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Wohnung__c&quot;,&quot;guid&quot;:&quot;column-b381&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Wohnung&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Differenz__c&quot;,&quot;guid&quot;:&quot;column-c000&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Differenz&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;SollGesamtmiete__c&quot;,&quot;guid&quot;:&quot;column-a5ce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Soll-Gesamtmiete&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Bemerkungen__c&quot;,&quot;guid&quot;:&quot;column-3129&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Bemerkungen&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Please&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Email Senden</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_SCREEN</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
