force-app/main/default/flows/VMT_NEBENKOSTEN_UpdateNebenkostenAndSaldoOnMietvertrag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>nk_UpdateNkAndSaldo</name>
        <label>nk_UpdateNkAndSaldo</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>NK_UpdateNKAndSaldoOnMietvertrag</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>nkId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NK_UpdateNKAndSaldoOnMietvertrag</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>VMT_NEBENKOSTEN_UpdateNebenkostenAndSaldoOnMietvertrag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMT_NEBENKOSTEN_UpdateNebenkostenAndSaldoOnMietvertrag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Bestaetigung</name>
        <label>Bestaetigung</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Abbrechen</backButtonLabel>
        <connector>
            <targetReference>nk_UpdateNkAndSaldo</targetReference>
        </connector>
        <fields>
            <name>Bestaetigen_TEXT</name>
            <fieldText>&lt;p&gt;Bist du sicher?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Bestätigen</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Durchfuehren_ACTION</name>
        <label>Durchführen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Abbrechen</backButtonLabel>
        <connector>
            <targetReference>Bestaetigung</targetReference>
        </connector>
        <fields>
            <name>Nebenkostenabrechnung_TEXT</name>
            <fieldText>&lt;p&gt;Nebenkostenabrechnung durchführen?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fortfahren</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Durchfuehren_ACTION</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
