force-app/main/default/flows/VMT_MIETVERTRAG_UpdateSaldoOnAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AddSaldo_ASSIGNMENT</name>
        <label>Add Saldo</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>saldo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AllMietvertraege_LOOP.SaldoNebenkosten__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllMietvertraege_LOOP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSaldoSUMToMieter_ASSIGNMENT</name>
        <label>Assign Saldo SUM to Mieter</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>GetMieter_GET.SaldoNebenkosten__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>saldo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMieterSaldo_UPDATE</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>VMT_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMT_MIETVERTRAG_UpdateSaldoOnAccount</label>
    <loops>
        <name>AllMietvertraege_LOOP</name>
        <label>All Mietvertraege</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetAllMietvertrage_GET</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddSaldo_ASSIGNMENT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetMieter_GET</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllMietvertrage_GET</name>
        <label>Get All Mietvertrage</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllMietvertraege_LOOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mieter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mieter__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mietvertrag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMieter_GET</name>
        <label>Get Mieter</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSaldoSUMToMieter_ASSIGNMENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mieter__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMieterSaldo_UPDATE</name>
        <label>Update Mieter Saldo</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>GetMieter_GET</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllMietvertrage_GET</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SaldoNebenkosten__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Mietvertrag__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>saldo</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
