force-app/main/default/flows/VMT_OBJEKT_MassEmailCommunicationToMieter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail_ACTION</name>
        <label>Send Email</label>
        <locationX>264</locationX>
        <locationY>1898</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LoopSelectedMieter_LOOP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>LoopSelectedMieter_LOOP.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideEmail_GET.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>FlowEmailComposer.subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FlowEmailComposer.emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>LoopSelectedMieter_LOOP.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>SaveIdOfAllMieterIdsInAList_ASSIGNMENT</name>
        <label>Save Id of All Mieter Ids In a List</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>AccountIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllMietvertrags_LOOP.Mieter__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllMietvertrags_LOOP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SaveIdofAllWohnungsInAList_ASSIGNMENT</name>
        <label>Save Id of All Wohnungs In a List</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>WohnungIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllWohnungs_LOOP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllWohnungs_LOOP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfMieterIsAusgezogen_DECISION</name>
        <label>CheckIfMieterIsAusgezogen</label>
        <locationX>396</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>YES</defaultConnectorLabel>
        <rules>
            <name>NO_OUTCOME</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopAllMietvertrags_LOOP.Ausgezogen__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$System.OriginDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopAllMietvertrags_LOOP.Ausgezogen__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaveIdOfAllMieterIdsInAList_ASSIGNMENT</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <expression>&apos;Hallo &apos; + {!MieterName} + &apos;, ich habe gerade festgestellt, dass die Miete für den aktuellen Monat noch fehlt. Bitte checken Sie das kurzfristig.&apos;

+ &apos; Holm Bassler&apos;</expression>
    </formulas>
    <formulas>
        <name>MieterName</name>
        <dataType>String</dataType>
        <expression>text({!LoopSelectedMieter_LOOP.Anrede__c})  + &apos; &apos; +{!LoopSelectedMieter_LOOP.Nachname__c}</expression>
    </formulas>
    <interviewLabel>VMT_Objekt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMT_OBJEKT_MassEmailCommunicationToMieter</label>
    <loops>
        <name>LoopAllMietvertrags_LOOP</name>
        <label>Loop All Mietvertrags</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>GetAllMietvertrags_GET</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckIfMieterIsAusgezogen_DECISION</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAllMieterRecords_GET</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopAllWohnungs_LOOP</name>
        <label>Loop All Wohnungs</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>GetWohnungRecords_GET</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SaveIdofAllWohnungsInAList_ASSIGNMENT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAllMietvertrags_GET</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSelectedMieter_LOOP</name>
        <label>Loop Selected Mieter</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <collectionReference>MieterTable_DATATABLE.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SendEmail_ACTION</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProcessCompletionConfirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OrgWideEmail_GET</name>
        <label>Get OrgWideEmail</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FlowEmailComposer_SCREEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetObjektRecord_GET.FirmaName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllMieterRecords_GET</name>
        <label>Get All Mieter Records</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectMieter_SCREEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllMietvertrags_GET</name>
        <label>Get All Mietvertrags</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllMietvertrags_LOOP</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Wohnung__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WohnungIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ausgezogen__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ausgezogen__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ausgezogen__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mietvertrag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetObjektRecord_GET</name>
        <label>Get Objekt Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWohnungRecords_GET</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Objekt__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirmaName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWohnungRecords_GET</name>
        <label>Get Wohnung Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllWohnungs_LOOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Objekt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Wohnung__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_SCREEN</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Abbrechen</backButtonLabel>
        <connector>
            <targetReference>GetObjektRecord_GET</targetReference>
        </connector>
        <fields>
            <name>Confirmation_DISPLAYTEXT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Massen-E-Mail senden?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Durchführen</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FlowEmailComposer_SCREEN</name>
        <label>FlowEmailComposer</label>
        <locationX>176</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Zurück</backButtonLabel>
        <connector>
            <targetReference>LoopSelectedMieter_LOOP</targetReference>
        </connector>
        <fields>
            <name>FlowEmailComposer</name>
            <extensionName>Email_Composer:FlowEmailComposer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fromAddress</name>
                <value>
                    <elementReference>Get_OrgWideEmail_GET.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>logEmail</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideTemplateSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>senderName</name>
                <value>
                    <elementReference>Get_OrgWideEmail_GET.DisplayName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>E-Mail senden</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProcessCompletionConfirmation</name>
        <label>ProcessCompletionConfirmation</label>
        <locationX>176</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProcessCompletionConfirmationText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 161, 224); font-size: 20px;&quot;&gt;E-Mails wurden gesendet.﻿﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Super!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectMieter_SCREEN</name>
        <label>Select Mieter</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Abbrechen</backButtonLabel>
        <connector>
            <targetReference>Get_OrgWideEmail_GET</targetReference>
        </connector>
        <fields>
            <name>SelectMietzahlungen_DISPLAY</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Bitte Mieter wählen, denen E-Mail geschickt werden soll.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MieterTable_DATATABLE</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>MieterTable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAllMieterRecords_GET</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5037&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-d375&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Please&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Weiter</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_SCREEN</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MieterIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WohnungIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
